* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.dash-container {
    width: 100%;
    min-height: 100vh;
    padding: 1%;
    /* background-color: #264653; */
    background: rgb(38,70,83);
    background: linear-gradient(0deg, rgba(38,70,83,1) 0%, #151a4b 100%);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2% 0%;
}

.logo img {
    max-height: 80px;
}

@media only screen and (max-width: 550px) {
    .logo img {
        max-height: 50px;
    }
}

.dash-head {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: bold;
}

.milestone-list {
    list-style: none;
    text-align: left;
    text-transform: capitalize;
    font-size: .9rem;
    line-height: 2rem;
}

.map-cont {
    position: relative !important;
    padding: 0%;
}