* {
    margin: 0%;
    padding: .5% 2%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.dash-container {
    width: 100%;
    min-height: 100vh;
    padding: 1%;
    margin: 1%;
}

.dash-head {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: bold;
}

.milestone-list {
    list-style: none;
    text-align: left;
    text-transform: capitalize;
    font-size: .9rem;
    line-height: 2rem;
}

.map-cont {
    position: relative !important;
}